:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
#top-text {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 16px;
  box-sizing: border-box;
  color: var(--paper-grey-800);
}
tf-multi-checkbox {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.x-button {
  font-size: 13px;
  background-color: var(--tb-ui-light-accent);
  color: var(--tb-ui-dark-accent);
}
#tooltip-help {
  color: var(--paper-grey-800);
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
}
paper-button {
  margin-left: 0;
}
#data-location {
  color: var(--tb-ui-dark-accent);
  font-size: 13px;
  margin: 5px 0 0 0;
  max-width: 288px;
}
