[submodule "dev-libs/rxjs"]
	path = dev-libs/rxjs
	url = https://github.com/ReactiveX/rxjs.git
[submodule "dev-libs/spaCy"]
	path = dev-libs/spaCy
	url = https://github.com/explosion/spaCy.git
[submodule "dev-libs/tfjs"]
	path = dev-libs/tfjs
	url = https://github.com/tensorflow/tfjs.git
[submodule "dev-libs/tfjs-examples"]
	path = dev-libs/tfjs-examples
	url = https://github.com/tensorflow/tfjs-examples.git
[submodule "dev-libs/tensorboard"]
	path = dev-libs/tensorboard
	url = https://github.com/tensorflow/tensorboard.git
[submodule "dev-libs/transformers"]
	path = dev-libs/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "dev-libs/tokenizers"]
	path = dev-libs/tokenizers
	url = https://github.com/huggingface/tokenizers.git
[submodule "semantiq/typescript"]
	path = semantiq/typescript
	url = https://github.com/microsoft/TypeScript.git
[submodule "semantiq/pyright"]
	path = semantiq/pyright
	url = https://github.com/microsoft/pyright.git
[submodule "semantiq/mypy"]
	path = semantiq/mypy
	url = https://github.com/python/mypy.git
[submodule "semantiq/cpython"]
	path = semantiq/cpython
	url = https://github.com/python/cpython.git
[submodule "semantiq/julia"]
	path = semantiq/julia
	url = https://github.com/JuliaLang/julia.git
[submodule "semantiq/purescript"]
	path = semantiq/purescript
	url = https://github.com/purescript/purescript.git
[submodule "semantiq/server/src/book/rust-book"]
	path = semantiq/server/src/book/rust-book
	url = https://github.com/rust-lang/book.git
[submodule "semantiq/rust"]
	path = semantiq/rust
	url = https://github.com/rust-lang/rust.git
[submodule "semantiq/purify"]
	path = semantiq/purify
	url = https://github.com/gigobyte/purify.git
[submodule "semantiq/fp-ts"]
	path = semantiq/fp-ts
	url = https://github.com/gcanti/fp-ts.git
[submodule "semantiq/Catlab.jl"]
	path = semantiq/Catlab.jl
	url = https://github.com/AlgebraicJulia/Catlab.jl.git
