[submodule "dev-libs/nx-console"]
	path = dev-libs/nx-console
	url = https://github.com/nrwl/nx-console.git
[submodule "dev-libs/vscode-bazel"]
	path = dev-libs/vscode-bazel
	url = https://github.com/bazelbuild/vscode-bazel.git
[submodule "dev-libs/vscode-python"]
	path = dev-libs/vscode-python
	url = https://github.com/microsoft/vscode-python.git
[submodule "dev-libs/vscode-git-graph"]
	path = dev-libs/vscode-git-graph
	url = https://github.com/mhutchie/vscode-git-graph.git
[submodule "dev-libs/vscode-chartjs"]
	path = dev-libs/vscode-chartjs
	url = https://github.com/RandomFractals/vscode-chartjs.git
[submodule "dev-libs/vscode-vega-viewer"]
	path = dev-libs/vscode-vega-viewer
	url = https://github.com/RandomFractals/vscode-vega-viewer.git
[submodule "dev-libs/OneDark-Pro"]
	path = dev-libs/OneDark-Pro
	url = https://github.com/Binaryify/OneDark-Pro.git
[submodule "dev-libs/julia-color-themes"]
	path = dev-libs/julia-color-themes
	url = https://github.com/CameronBieganek/julia-color-themes.git
[submodule "dev-libs/rxjs"]
	path = dev-libs/rxjs
	url = https://github.com/ReactiveX/rxjs.git
[submodule "dev-libs/TypeScript"]
	path = dev-libs/TypeScript
	url = https://github.com/microsoft/TypeScript.git
[submodule "dev-libs/julia"]
	path = dev-libs/julia
	url = https://github.com/JuliaLang/julia.git
[submodule "dev-libs/julia-wasm"]
	path = dev-libs/julia-wasm
	url = https://github.com/Keno/julia-wasm.git
[submodule "dev-libs/emsdk"]
	path = dev-libs/emsdk
	url = https://github.com/emscripten-core/emsdk.git
