.gitignore
.vscode/**
.vscode-test/**
**/*.ts
**/*.map
**/tsconfig.json
src/**
out/test/**
out/**/*.map
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**


build/**
src/**
test/**
out/**
tsconfig.json
extension.webpack.config.js
cgmanifest.json
yarn.lock
