<template is="dom-if" if="[[_isNotComplete(progress)]]">
  <div id="progress-bar">
    <div id="progress-msg">[[progress.msg]]</div>
    <paper-progress value="[[progress.value]]"></paper-progress>
  </div>
</template>
<div class\$="[[_getContainerClass(progress)]]">
  <div id="main">
    <qnr-graph
      id="graph"
      graph-hierarchy="{{ graphHierarchy }}"
      basic-graph="[[graph]]"
      hierarchy-params="[[hierarchyParams]]"
      devices-for-stats="[[devicesForStats]]"
      stats="[[stats]]"
      highlighted-node="{{ _highlightedNode }}"
      color-by="[[colorBy]]"
      color-by-params="{{ colorByParams }}"
      progress="{{ progress }}"
      edge-label-function="[[edgeLabelFunction]]"
      edge-width-function="[[edgeWidthFunction]]"
      node-names-to-health-pills="[[nodeNamesToHealths]]"
      health-pill-step-index="[[healthPillStepIndex]]"
      handle-node-selected="[[handleNodeSelected]]"
      handle-edge-selected="[[handleEdgeSelected]]"
      trace-ins="[[traceInputs]]"
    ></qnr-graph>
  </div>
  <div id="info">
    <qnr-graph-info
      id="graph-info"
      [title]="selected"
      [graphHierarchy]="graphHierarchy"
      hierarchy-params="hierarchyParams"
      [graph]="graph"
      selected-node-include="{{ _selectedNodeInclude }}"
      highlighted-node="{{ _highlightedNode }}"
      color-by="[[colorBy]]"
      color-by-params="[[colorByParams]]"
      debugger-data-enabled="[[debuggerDataEnabled]]"
      are-health-pills-loading="[[areHealthsLoading]]"
      debugger-numeric-alerts="[[debuggerNumericAlerts]]"
      node-names-to-health-pills="[[nodeNamesToHealths]]"
      all-steps-mode-enabled="{{ allStepsModeEnabled }}"
      specific-health-pill-step="{{ specificHealthStep }}"
      health-pill-step-index="{{ healthPillStepIndex }}"
      compat-node-title="[[compatNodeTitle]]"
      on-node-toggle-inclusion="(_onNodeInclusionToggled)"
      on-node-toggle-seriesgroup="(_onNodeSeriesGroupToggled)"
    ></qnr-graph-info>
  </div>
</div>
