<template is="dom-if" if="[[_paneRendered]]" id="ifRendered">
  <button class="heading" on-tap="(_togglePane)" open-button\$="[[opened]]">
    <span class="name">
      <template is="dom-if" if="[[_isSearchResults]]">
        <template is="dom-if" if="[[_isCompositeSearch(category)]]">
          <span>Tags matching multiple experiments</span>
          <template is="dom-if" if="[[_isInvalidSearchResults]]">
            <span>&nbsp;<strong>(malformed regular expression)</strong></span>
          </template>
        </template>
        <template is="dom-if" if="[[!_isCompositeSearch(category)]]">
          <span class="light">Tags matching /</span>
          <span class="category-name" title\$="[[category.name]]"
            >[[category.name]]</span
          >
          <span class="light">/</span>
          <template is="dom-if" if="[[_isUniversalSearchQuery]]">
            <span> (all tags)</span>
          </template>
          <template is="dom-if" if="[[_isInvalidSearchResults]]">
            <span> <strong>(malformed regular expression)</strong></span>
          </template>
        </template>
      </template>
      <template is="dom-if" if="[[!_isSearchResults]]">
        <span class="category-name" title\$="[[category.name]]"
          >[[category.name]]</span
        >
      </template>
    </span>
    <span class="count">
      <template is="dom-if" if="[[_hasMultiple]]">
        <span>[[_count]]</span>
      </template>
      <iron-icon icon="expand-more" class="expand-arrow"></iron-icon>
    </span>
  </button>
  <!-- TODO(stephanwlee): investigate further. For some reason,
    transitionend that the iron-collapse relies on sometimes does not
    trigger when rendering a chart with a spinner. A toy example cannot
    reproduce this bug. -->
  <iron-collapse opened="[[opened]]" no-animation="">
    <div class="content">
      <span id="top-of-container"></span>
      <template is="dom-if" if="[[_multiplePagesExist]]">
        <div class="big-page-buttons" style="margin-bottom: 10px;">
          <paper-button
            on-tap="(_performPreviousPage)"
            disabled\$="[[!_hasPreviousPage]]"
            >Previous page</paper-button
          >
          <paper-button
            on-tap="(_performNextPage)"
            disabled\$="[[!_hasNextPage]]"
            >Next page</paper-button
          >
        </div>
      </template>

      <div id="items">
        <slot name="items"></slot>
      </div>
      <template is="dom-if" if="[[_multiplePagesExist]]">
        <div id="controls-container">
          <div style="display: inline-block; padding: 0 5px">
            Page
            <paper-input
              id="page-input"
              type="number"
              no-label-float=""
              min="1"
              max="[[_pageCount]]"
              value="[[_pageInputValue]]"
              on-input="(_handlePageInputEvent)"
              on-change="(_handlePageChangeEvent)"
              on-focus="(_handlePageFocusEvent)"
              on-blur="(_handlePageBlurEvent)"
            ></paper-input>
            of [[_pageCount]]
          </div>
        </div>

        <div class="big-page-buttons" style="margin-top: 10px;">
          <paper-button
            on-tap="(_performPreviousPage)"
            disabled\$="[[!_hasPreviousPage]]"
            >Previous page</paper-button
          >
          <paper-button
            on-tap="(_performNextPage)"
            disabled\$="[[!_hasNextPage]]"
            >Next page</paper-button
          >
        </div>
      </template>
    </div>
  </iron-collapse>
</template>
