<div id="chart-and-spinner-container">
  <vz-line-chart2
    id="chart"
    data-loading$="[[dataLoading]]"
    color-scale="[[colorScale]]"
    default-x-range="[[defaultXRange]]"
    default-y-range="[[defaultYRange]]"
    fill-area="[[fillArea]]"
    ignore-y-outliers="[[ignoreYOutliers]]"
    on-chart-attached="(_onChartAttached)"
    smoothing-enabled="[[smoothingEnabled]]"
    smoothing-weight="[[smoothingWeight]]"
    symbol-function="[[symbolFunction]]"
    tooltip-columns="[[tooltipColumns]]"
    tooltip-position="[[tooltipPosition]]"
    tooltip-sorting-method="[[tooltipSortingMethod]]"
    x-components-creation-method="[[xComponentsCreationMethod]]"
    x-type="[[xType]]"
    y-value-accessor="[[yValueAccessor]]"
  ></vz-line-chart2>
  <template is="dom-if" if="[[dataLoading]]">
    <div id="loading-spinner-container">
      <paper-spinner-lite active></paper-spinner-lite>
    </div>
  </template>
</div>
