<paper-item>
  <paper-item-body two-line>
    <div>
      <paper-icon-button
        icon="{{ _getToggleIcon(_expanded) }}"
        on-click="(_toggleExpanded)"
        class="toggle-button"
      >
      </paper-icon-button>
      <div class="node-name" id="nodetitle">[[nodeTitle]]</div>
    </div>
    <div secondary>
      <div class="subtitle">
        <div class="op-compat-display">
          <svg
            class="op-compat"
            preserveAspectRatio="xMinYMid meet"
            viewBox="0 0 250 25"
          >
            <defs>
              <linearGradient id="op-compat-fill">
                <stop offset="0" stop-color$="[[_opCompatColor]]"></stop>
                <stop
                  offset$="[[_opCompatScore]]"
                  stop-color$="[[_opCompatColor]]"
                ></stop>
                <stop
                  offset$="[[_opCompatScore]]"
                  stop-color$="[[_opIncompatColor]]"
                ></stop>
                <stop offset="1" stop-color$="[[_opIncompatColor ]]"></stop>
              </linearGradient>
            </defs>
            <rect
              height="25"
              width="250"
              rx="5"
              ry="5"
              style="fill: url('#op-compat-fill');"
            />
          </svg>
          <div class="op-compat-value">[[_opCompatScoreLabel]]</div>
        </div>
      </div>
    </div>
  </paper-item-body>
</paper-item>

<iron-collapse opened="{{ _expanded }}">
  <template is="dom-if" if="{{ _expanded }}" restamp="true">
    <div class="expandedInfo">
      Incompatible Operations: (<span>[[_totalIncompatOps]]</span>)
      <iron-list
        class="incompatible-ops-list"
        id="incompatibleOpsList"
        items="[[_incompatibleOpNodes]]"
      >
        <template>
          <qnr-graph-op-compat-list-item
            class="non-control-list-item"
            item-node="[[item]]"
            item-render-info="[[_getRenderInfo(item.name, renderHierarchy)]]"
            name="[[item.name]]"
            template-index="[[_templateIndex]]"
            color-by="[[colorBy]]"
            item-type="incompatible-ops"
          >
          </qnr-graph-op-compat-list-item>
        </template>
      </iron-list>
    </div>
  </template>
</iron-collapse>
