flake8
flake8-bugbear
flake8-pyi
git+https://github.com/psf/black.git@master
git+https://github.com/python/mypy.git@master
mock
numpy
psutil
pycodestyle
pyflakes
pylint
pyparsing
pytest
pytest-cov
pytest-forked
pytest-timeout
pytest-xdist
requests
setuptools